.tree-invisible {
  display: none;
}

mat-tree .mat-nested-tree-node div[role=group] {
  padding-left: 15px;
}

mat-drawer-container {
  height: calc(100vh - 64px);
  background-color: rgb(48, 48, 48);;
}

mat-drawer {
  padding: 15px;
  background-color: #eee
}

mat-tree * {
  color: white;
  font-weight: 100;
  background-color: #09090e;
}

mat-tree mat-tree-node,
mat-tree mat-tree-node * {
  background-color: #202020;
}

.mat-tree-node.excludeGroups {
  display: none;
}

mat-nested-tree-node > mat-tree-node {
  display: block;
}

mat-tree-node {
  border: black 2px solid;
}

mat-tree-node + mat-tree-node {
  border-top: none;
}

.ch-description {
  max-width: 50%;
}

.ch-level,
.ch-level + span {
  display: flex;
  flex-direction: row-reverse;
}

#filterField {
  display: inline-flex;
  margin-right: auto;
  flex: 0 0 45%;
}

#filterField + a {
  background-color: rgb(17, 133, 175);
  color: white;
  margin-right: 10px;
}