<mat-drawer-container>
  <div>
    <div>
      <mat-form-field subscriptSizing="dynamic" style="width: 100%">
        <mat-label>Search challenge</mat-label>
        <input matInput placeholder="name/description/category.." (input)="updateFilter($event)" />
      </mat-form-field>
      <a *ngIf="false" mat-flat-button (click)="drawer.toggle()">
        Zaawansowane filtry
      </a>
    </div>
    <mat-tree [dataSource]="filteredData" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <div class="ch-name">
          <h3>
            <a mat-flat-button (click)="this.challengeChosen.emit(node.challenge)">
              {{ node.challenge.name }}
            </a>
          </h3>
        </div>
        <div class="ch-description">
          <i>{{ node.challenge.description}}</i>
        </div>
        <div style="margin-left: auto; padding-inline: 10px;">
          <div class="ch-level">{{ node.challenge.currentLevel }}</div>
          <span>{{ chUtils.getChallengeProgress(node.challenge) }}</span>
        </div>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.challenge.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <a mat-flat-button (click)="this.challengeChosen.emit(node.challenge)">
            {{ node.challenge.name }}
          </a>
          <i>{{ node.challenge.currentLevel }}: {{ chUtils.getChallengeProgress(node.challenge) }}</i>
        </div>
        <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
</mat-drawer-container>