html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ececef;
  font-weight: 100;
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;
}

a:not(.standard) {
  background: none !important;
  font-weight: 400 !important;
  color: #ececef !important;
}

a:hover,
button:hover mat-icon {
  color: darkorange !important;
}

.wrapper {
  margin-inline: 2%;
}