html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ececef;
  font-weight: 100;
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;
}

a:not(.standard) {
  background: none !important;
  font-weight: 400 !important;
  color: #ececef !important;
}

a:hover,
button:hover mat-icon {
  color: darkorange !important;
}

.wrapper {
  margin-inline: 2%;
}


/* ------------ */
.dark-dropdown {
  background-color: #333333 !important;
}

.dark-dropdown .mat-mdc-option .mdc-list-item__primary-text {
  color: #ffffff !important;
}

.dark-dropdown .mat-mdc-option:hover,
.dark-dropdown .mat-mdc-option:focus {
  background-color: #444444 !important; 
}

.dark-dropdown .mat-mdc-select-search-input {
  color: #ffffff;
}