.app-header {
  background-color: #272727;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-header.draggable {
  user-select: none;
  cursor: grab;
}

.app-header.draggable:active {
  cursor: grabbing;
}
