<div>
    <div style="display: flex; align-items: center; gap: 8px;">
        <button matFab (click)="resetSelected()" style="margin-left: 15px; background-color: black; cursor: pointer;;">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-checkbox [(ngModel)]="showSoloChallenges" [disableRipple]="true">
            Show solo challenges
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showTeamChallenges" [disableRipple]="true">
            Show team synergy challenges
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showCompletedChallenges" [disableRipple]="true">
            Show completed challenges
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="showRecommendedChampions" [disableRipple]="true">
            Show recommended champions
        </mat-checkbox>
    </div>
    @if (showRecommendedChampions) {
        <div style="width: 100%;">
            <div style="margin: 10px; width: calc(50% - 20px); display: inline-block;">
                <h3>Recommended Champions based on Synergy</h3>
                <span>{{ championsRecommended }}</span>
            </div>
            <div style="padding-inline: 10px; display: inline-block;">
                <h3>Recommended Champions for solo challenges</h3>
                <span>{{ soloChampionsRecommended }}</span>
            </div>
        </div>
    }
    <div id="champions-select">
        @for (champSelection of championsSelected; track $index) {
            <mat-select [(value)]="championsSelected[$index]"
                style="width: calc(20% - 10px); display: inline-block; background-color: black; border: 1px white solid; padding: 3px 4px 3px 4px;"
                panelClass="dark-dropdown"
                [placeholder]="getPlaceholder($index)"
                (selectionChange)="championsSelectedChanged($index)">
                <mat-option>
                    <input
                        matInput
                        placeholder="Search..."
                        [(ngModel)]="searchChampTerm[$index]"
                        (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()"
                        style="width: 100%; font-size: 18px;"/>
                </mat-option>
                @for (champ of getFilteredChampionsToSelect($index); track champ.id) {
                    <mat-option [value]="champ">{{champ.name}}</mat-option>
                } @empty {
                    <mat-option disabled>No matches found</mat-option>
                }
            </mat-select>
        }
    </div>
    <div id="challenges-satisfied">
        @if (showTeamChallenges) {
            <table mat-table [dataSource]="getSynergyChallenges()">
                <ng-container matColumnDef="mandatory">
                    <th mat-header-cell *matHeaderCellDef> Must-have? </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <mat-checkbox 
                            [checked]="mandatorySelection.isSelected(element)" 
                            (change)="mandatorySelected(element)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Synergy Challenge </th>
                    <td mat-cell *matCellDef="let element">
                        @let challenge = challengeType(element);
                        <span style="font-weight: bold; font-size: large; padding: 3px 0px 3px;" [matTooltip]="challenge.description"  matTooltipPosition="after">{{ challenge.name }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="synergy">
                    <th mat-header-cell *matHeaderCellDef> Synergy </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        @let challenge = challengeType(element);
                        {{ getSynergyCount(challenge) }} / {{ getSynergyBase(challenge) }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="available">
                    <th mat-header-cell *matHeaderCellDef> Champions available </th>
                    <td mat-cell *matCellDef="let element" style="padding: 3px 0px 3px 10px;">
                        @let challenge = challengeType(element);
                        @let unselectedChamps = getUnselectedAvailableChampionsListNames(challenge);
                        @let selectedChamps = getSelectedAvailableChampionsListNames(challenge);
                        @if (unselectedChamps.length > 0) {
                            <span style="font-size: large;">{{ getUnselectedAvailableChampionsListNames(challenge) }}</span>
                        }
                        @if (selectedChamps.length > 0) {
                            @if (unselectedChamps.length > 0) {
                                <br>
                            }
                            <b> > Already selected: </b><span style="font-size: medium;">{{ getSelectedAvailableChampionsListNames(challenge) }}</span>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progress </th>
                    <td mat-cell *matCellDef="let element">
                        @let challenge = challengeType(element);
                        {{ challUtils.getChallengeProgress(challenge) }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="synergyChallengesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: synergyChallengesColumns;"></tr>
            </table>
        }
        @if (showSoloChallenges) {
            <table mat-table [dataSource]="getSoloChallenges()" style="border-top: 1px white solid;">
                <ng-container matColumnDef="mandatory-solo">
                    <th mat-header-cell *matHeaderCellDef> Must-have? </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <mat-checkbox 
                            [checked]="mandatorySoloSelection.isSelected(element)" 
                            (change)="mandatorySoloSelected(element)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Solo Challenge </th>
                    <td mat-cell *matCellDef="let element">
                        @let challenge = challengeType(element);
                        <div style="display: flex; align-items: center; gap: 8px;">
                            @if (isSoloChallengeSatisfied(element)) {
                                <mat-icon>check_circle</mat-icon>
                            }
                            <span  style="font-weight: bold;">{{ challenge.name }}</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element">
                        @let challenge = challengeType(element);
                        {{ challenge.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progress </th>
                    <td mat-cell *matCellDef="let element">
                        @let challenge = challengeType(element);
                        {{ challUtils.getChallengeProgress(challenge) }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="soloChallengesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: soloChallengesColumns;"></tr>
            </table>
        }
    </div>
</div>