<div class="wrapper">
    @if(selectedChampion) {
        <h2>Champion selected: {{selectedChampion.name}}</h2>
        <ul>
            <li *ngFor="let challenge of champChallengesMap.get(selectedChampion)">{{challenge.name}} - {{challenge.description}}</li>
        </ul>
    }
    <h2 style="margin-bottom: 0;">Champ x Chall - availability:</h2>
    <span style="margin-right: 10px;"><mat-icon style="color: blue;vertical-align: bottom;">done</mat-icon> NOT done</span>
    <span><mat-icon style="color: red;vertical-align: bottom;">close</mat-icon> Done</span>
    <div class="table-wrapper">
        <table mat-table [dataSource]="availableChampions">
            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef>Count</th>
                <td mat-cell *matCellDef="let element">{{ champChallengesMap.get(element)?.length }}</td>
            </ng-container>

            <ng-container *ngFor="let challenge of championChallenges" [matColumnDef]="challenge.name">
                <th mat-header-cell *matHeaderCellDef>{{ challenge.name }}</th>
                <td mat-cell *matCellDef="let element">
                    @if(isChampAvailable(element, challenge.name)) {
                    <mat-icon style="color: blue">done</mat-icon>
                    } @else {
                    <mat-icon style="color: red">close</mat-icon>
                    }
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>