<div class="wrapper">
  <h1>
    Challenger: <b>{{ profileName }}</b>
  </h1>
  <mat-divider></mat-divider>
  <button mat-button (click)="goToChallenges()">Full challenges view</button>
  <div>
    <h3>Next closest goals:</h3>
    <mat-checkbox [(ngModel)]="showPointless" (change)="updateData()"
      >Show "pointless" challenges</mat-checkbox
    >
    <table
      mat-table
      [dataSource]="chDataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-flat-button
            (click)="this.challengeChosen.emit(element.chRef)"
            class="standard"
            style="color: black"
            [matTooltip]="element.description"
            matTooltipPosition="after"
          >
            {{ element.name }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
        <td mat-cell *matCellDef="let element">
          {{ (element.progress * 100).toFixed(2) }}%
        </td>
      </ng-container>
      <ng-container matColumnDef="ptg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          PtG (Points to Gain)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.ptg }} ({{ element.nextLevel }})
        </td>
      </ng-container>
      <ng-container matColumnDef="prio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Progress x PtG
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.prio.toFixed(2) }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="chDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chDisplayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of challenges"
    >
    </mat-paginator>
  </div>
</div>
