h1, h3 {
    color: white;
}

.wrapper {
    padding-inline: 2%;
}

::ng-deep .wrapper *:not(a > span, h1, h3) {
    color: #c9c9c9;
}

::ng-deep a > span {
    font-weight: bold;
}

table {
    background-color: #09090e;
}

mat-paginator {
    background-color: #202020;
}

::ng-deep button:not([disabled]) svg {
    fill: unset !important;
}